<div class="top-window container">

  <div class="top-window--title">
    <img src="/images/newLogo-afd1d3b9873d51ff1097569274da8b3e.svg" alt="" srcset="">

    <div class="top-window--slogan">Укрепим и проверим знания</div>
  </div>

  <div class="top-window--name-block">


    <div class="name-block--hello">
      {{#if username}}
      Рады что ты вернулся
      <span class="name-block--name">{{username}},</span>

      уверены у тебя все лучше получается,
      но давай все же еще раз пробежимся по тестам!

      {{else}}
      Привет дорогой друг, тебе необходимо Войти или Зарегистрироваться,
      что бы начаить или пролжить проходить тесты.


      {{/if}}
    </div>

  </div>
</div>


<div class="row deck">
  {{#each decks}}

  <div class="col s12 m4  deck" id="deck-{{_id}}">
    <div class="card-panel">
      <p class="title">
        {{#if titlerus}}
        {{titlerus}}
        {{else}} {{title}}
        {{/if}}
      </p>
      <a class="waves-effect waves-light btn-small btn-flat btn-start startBtn">
        Начать
        <span class="material-icons">trending_flat</span>
      </a>
    </div>
  </div>

  {{/each}}
</div>