<div class="result-answers">
  <h4>{{result.deck}} {{result.level}}</h4>
  Вы правильно ответили на {{result.points}} вопросов
  из {{result.tries}} вопросов. Всего вопросов {{result.numQuest}}.

  {{!-- <form class="finish">
    <button type="submit"></button>
  </form> --}}
</div>
