<div class="row">
  <div class="col s12">
    <div class="row">
      <p class="title-card">Вопрос: {{card.question}}</p>
      {{#if card.answerArr}}
      <ul class="variants">
        {{#each card.answerArr}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
      {{/if}}
      <br>
      <div class="answer-status">
        Вы не верно ответили <i class="material-icons right">sentiment_very_dissatisfied</i>
      </div>
      <p class="answer-user">Ваш ответ: {{userAnswer}}</p>
      <div class="bottom-button-card">
        <form class="again" action="/{{id}}" method="post">
          <button class="btn waves-effect answerBtn" type="submit" name="action">
            Еще раз <i class="material-icons right">replay</i>
          </button>
        </form>
        <form class="next" action="/{{id}}/next" method="post">
          <button class="btn waves-effect answerBtn" type="submit" name="action">
            Дальше <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
